<section class="border-b-2 px-8 py-9 ">
    <div class="flex gap-3 items-center">
      <h1 class="text-white text-2xl font-semibold py-8">Contato</h1>
      <p class="border-b-2 w-[83%] h-1"></p>
  </div>
    
       <div>
        <h1>Vamos trabalhar juntos?</h1>
        <p>Aberto a oportunidades de estágio em Angular e .NET · Rio de Janeiro e remoto</p>

        <div>
            <button><i class="bi bi-github"></i>Github</button>
            <button><i class="bi bi-linkedin"></i>Linkedin</button>
            <button><i class="bi bi-envelope-at"></i>E-mail</button>
            <button><i class="bi bi-whatsapp"></i>Whatsapp</button>
            
        </div>
       </div>
  
     
    </section>
