<header>
  <nav
    class="flex flex-col sm:flex-row justify-between items-center gap-4 sm:gap-0 px-6 sm:px-10 lg:px-18 py-4 sm:py-5 border-b-2 cursor-pointer"
  >
    <div>
      <a routerLink="/" class="text-neutral-50 sm:m-28">{{ title() }}</a>
    </div>
    <div class="flex">
      <ul class="flex flex-wrap justify-center gap-4 sm:gap-6">
        <li class="text-neutral-50 hover:text-red-500">
          <a routerLink="/about">SOBRE</a>
        </li>
        <li class="text-neutral-50 hover:text-red-500">
          <a routerLink="/projects">PROJETOS</a>
        </li>
        <li class="text-neutral-50 hover:text-red-500">
          <a routerLink="/skills">SKILLS</a>
        </li>
        <li class="text-neutral-50 hover:text-red-500">
          <a routerLink="/contact">CONTATO</a>
        </li>
      </ul>
    </div>
    <div>
      <span class="text-red-500 border p-1 text-xs hover:text-red-300 sm:ml-28">
        Open to Work
      </span>
    </div>
  </nav>
</header>
