
<header>
    <nav class="flex justify-between p-4  border-b-1 cursor-pointer">
        <div>
            <h1 class="text-neutral-50">Borges</h1>
        </div>
        <div>
            <ul class="flex gap-6 ">
                <li class="text-neutral-50 hover:text-red-500">SOBRE</li>
                <li class="text-neutral-50 hover:text-red-500">PROJETOS</li>
                <li class="text-neutral-50 hover:text-red-500">SKILLS</li>
                <li class="text-neutral-50 hover:text-red-500">CONTATO</li>
            </ul>
        </div>
        <div>
            <span class="text-red-500 border p-1 text-xs hover:text-red-300">
                Open to Work
            </span>
        </div>
    </nav>
</header>
