<section class="border-b-2 px-8 py-9 ">
    <div class="flex gap-3 items-center">
      <h1 class="text-white text-2xl font-semibold py-8">Stack técnica</h1>
      <p class="border-b-2 w-[83%] h-1"></p>
  </div>
    
       <div class="flex justify-center gap-3.5 flex-wrap">
          <div class="flex items-start bg-zinc-900 border hover:border-red-700 w-[500px] p-2 rounded-xl text-white">
            <div>
                <h2 class="mb-2"><i class="bi bi-translate"></i>   FRONTEND</h2>
                <div >
                    <ul class="flex items-center justify-center">
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">Angular</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">Typescript</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">Javascript</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">React</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">HTML/CSS</li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="flex items-start bg-zinc-900 border hover:border-red-700 w-[500px] p-2 rounded-xl text-white">
            <div>
                <h2 class="mb-2"><i class="bi bi-translate"></i>   BACKEND</h2>
                <div >
                    <ul class="flex items-center justify-center">
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">C#</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">.NET</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">NODEJS</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">API REST</li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="flex items-start bg-zinc-900 border hover:border-red-700 w-[500px] p-2 rounded-xl text-white">
            <div>
                <h2 class="mb-2"><i class="bi bi-translate"></i>   BANCO DE DADOS</h2>
                <div >
                    <ul class="flex items-center justify-center">
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">SQL Server</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">Entity Framework</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">PostgreSQL</li>
                    
                    </ul>
                </div>
            </div>
          </div>
          <div class="flex items-start bg-zinc-900 border hover:border-red-700 w-[500px] p-2 rounded-xl text-white">
            <div>
                <h2 class="mb-2"><i class="bi bi-translate"></i>   FERRAMENTAS</h2>
                <div >
                    <ul class="flex items-center justify-center">
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">Git/Github</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">VSCode</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">Cursor</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">Visual Studio</li>
                        <li class="border border-zinc-600 text-sm py-.3 px-1 rounded">Figma</li>
                    </ul>
                </div>
            </div>
          </div>
        
     
        </div>
  
     
    </section>
